:host {

    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(0px, 0px);
    transition: transform 0.8s ease-in;
    text-align: center;

}

.lookLeft {
    transform: rotateY(180deg);
}

.mario {
    background-image: url(../../assets/mariopause.png);
    background-size: contain;
    background-position: center;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}

.shaky {
    height: 100%;
    width: 100%;
}