<div (onGesture)="swyped($event)" appHammerSwipes>
    <md-grid-list [ngClass]="{'dayBackground':!isNightMode}" #grid cols="{{columns}}" rowHeight="fit">

        <div *ngFor="let row of map; let i = index">
            <md-grid-tile #gridItem *ngFor="let cell of row">
                <app-cell [cell]="cell[0]"></app-cell>
            </md-grid-tile>

        </div>
        <div id='stars'></div>
        <div id='stars2'></div>
        <div id='stars3'></div>
    </md-grid-list>

    <app-avatar [map]="map" (nightUpdate)="updateNightMode($event)" [gridLocation]="gridLocation" [startPosition]="startPosition" [style.width.px]="dimensions" [style.height.px]="dimensions"
         #avatar></app-avatar>
    <app-avatar-controller [move]="avatar.move"></app-avatar-controller>
</div>