/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    margin: 1px;
    padding: 0;
    height: calc(100vh - 2px);
    overflow: hidden;
}

app-root {
    height: 100%;
}

md-toolbar-row {
    justify-content: space-between;
}

md-toolbar {
    padding: 0;
    background-color: #F2F2F2;
}

.loader {
    position: fixed;
    /* or absolute */
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    margin-top: -125px;
    margin-left: -125px;
    animation: 5s rotate linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

.mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    width: 50vw!important;
    height: 80vh !important;
    text-align: center;
    padding: 5px;
}

.red {
    color: red;
    font-weight: bold;
}

@media only screen and (max-width:1200px) {
    .mat-dialog-container {
        width: 100vw!important;
        height: 90vh !important;
    }
}