.mat-raised-button {
    background-color: red;
    color: white;
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.up {
    margin-bottom: 20px;
}

.down {
    margin-top: 20px;
}

.bigger {
    flex: 2;
}

.dialogText {
    font-size: xx-large;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.row2 {
    display: flex;
    width: 100%;
        flex-direction: row;

    justify-content: space-around;
}

.marquee{
    width: 450px;
	line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee h1 {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 3s linear infinite;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }

}

.img {
    width: 40px;
    height: 40px;
}
.imgLg{
    width: 100px;
    height: 100px;
}

.full {
    height: 100%;
    justify-content: space-around;
}

.veryBig {
    font-size: 150px;
}


@media only screen and (max-width:1000px) {
    .row {
        flex-direction: column;
    }
    .dialogText {
        font-size: large;
    }
    .veryBig {
        font-size: 75px;
    }
}

@media only screen and (max-width:700px) {
    .dialogText {
        font-size: medium;
    }
}