<div md-dialog *ngIf="!data.gameOver; else gameOverTemp" class="dialogContainer full">
    <div md-dialog-title>
        <h1>Welcome to Mario Maze</h1>
    </div>
    <div md-dialog-content>
        <div class="row">

            <div class="dialogContainer">

                <div class="row">
                    <i class="material-icons up">keyboard_arrow_up</i>
                </div>
                <div class="row2">
                    <i class="material-icons ">keyboard_arrow_left</i>
                    <i class="material-icons ">keyboard_arrow_right</i>
                </div>
                <div class="row">

                    <i class="material-icons down">keyboard_arrow_down</i>
                </div>
            </div>

            <div class="dialogContainer bigger">
                <p class="dialogText">
                    Use the arrow keys to navigate <img class="img" src="../../assets/mariopause.png" /> through the
                    <b class="red">MAZE</b> and collect all the <img class="img" src="../../assets/mario-bros-mushroom-vector.png"
                    /> with the<b class="red"> MINIMUM</b> number of steps
                </p>
            </div>
        </div>
        <div class="row">
            <div class="dialogContainer">
                <i class="material-icons up veryBig">system_update</i>
            </div>
            <div class="dialogContainer bigger">
                <p class="dialogText">
                    If you are using a mobile you can either swipe to move or use the keys at the bottom <i class="material-icons up">keyboard_arrow_left</i>                    <i class="material-icons up">keyboard_arrow_up</i> <i class="material-icons up">keyboard_arrow_down</i>
                    <i class="material-icons up">keyboard_arrow_right</i>
                </p>
            </div>
        </div>
    </div>
    <div md-dialog-actions> <a (click)="dialogRef.close()" md-raised-button> <i class="material-icons close">close</i> </a></div>
</div>

<ng-template #gameOverTemp>
    <div md-dialog class="dialogContainer full">
        <div md-dialog-title>

            <h1 *ngIf="data.moves > 11">Well done!</h1>
            <div class="marquee" *ngIf="data.moves < 10">
                <h1>YOU SUCK!</h1>
            </div>
        </div>
        <div md-dialog-content>
            <div class="row">

                <div class="dialogContainer">
                    <img class="imgLg" src="../../assets/angry_mario.png" />
                </div>
                <div class="dialogContainer bigger">
                    <p class="dialogText">
                        You finished the game in {{data.moves}} moves.
                    </p>
                    <div *ngIf="data.moves<10">
                        <p>Did we mention that you suck? Like .. can't even put it into words. <br><br>Hope our marquee helps
                            you understand the severity of the situation.<br><br>No really, you're a lost cause. *sigh*
                        </p>
                    </div>

                </div>
            </div>
        </div>

    <div md-dialog-actions> <a (click)="playAgain()" md-raised-button> Play Again </a></div>
    </div>
</ng-template>